In [20]:
import numpy as np
import pandas as pd
from datetime import datetime

In [21]:
data ={'date':['2018-01-01','2018-02-01',
'2018-03-01', '2018-04-01',
'2018-05-01', '2018-06-01',
'2018-01-01', '2018-02-01',
'2018-03-01', '2018-04-01',
'2018-05-01', '2018-06-01'],
'visitors': [35,30,82,26,
83, 46,40,57,95,57,87,42]}

In [22]:
df =pd.DataFrame(data,
columns=['date', 'visitors'])

In [23]:
df.head()

         date  visitors
0  2018-01-01        35
1  2018-02-01        30
2  2018-03-01        82
3  2018-04-01        26
4  2018-05-01        83

In [24]:
df.dtypes

date        object
visitors     int64
dtype: object

In [25]:
df.groupby('date').count()

            visitors
date
2018-01-01         2
2018-02-01         2
2018-03-01         2
2018-04-01         2
2018-05-01         2
2018-06-01         2

In [26]:
df.truncate(after='2018-03-01')

         date  visitors
0  2018-01-01        35
1  2018-02-01        30
2  2018-03-01        82

In [27]:
df.groupby('date').describe()

           visitors
              count  mean        std   min    25%   50%    75%   max
date
2018-01-01      2.0  37.5   3.535534  35.0  36.25  37.5  38.75  40.0
2018-02-01      2.0  43.5  19.091883  30.0  36.75  43.5  50.25  57.0
2018-03-01      2.0  88.5   9.192388  82.0  85.25  88.5  91.75  95.0
2018-04-01      2.0  41.5  21.920310  26.0  33.75  41.5  49.25  57.0
2018-05-01      2.0  85.0   2.828427  83.0  84.00  85.0  86.00  87.0
2018-06-01      2.0  44.0   2.828427  42.0  43.00  44.0  45.00  46.0

In [28]:
pd.date_range('2018-05-30', '2018-06-02')

DatetimeIndex(['2018-05-30', '2018-05-31', '2018-06-01', '2018-06-02'], dtype='datetime64[ns]', freq='D')

In [29]:
pd.date_range('2018-05-30', periods=4)

DatetimeIndex(['2018-05-30', '2018-05-31', '2018-06-01', '2018-06-02'], dtype='datetime64[ns]', freq='D')

In [30]:
pd.date_range('2018-05-30', periods=4,freq='M')

DatetimeIndex(['2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31'], dtype='datetime64[ns]', freq='M')

In [31]:
from numpy.random import randn
idx =pd.date_range('2018-06-04 00:00:00',
periods=4)
cols =['A', 'B', 'C', 'D']

In [32]:
data =randn(len(idx),len(cols))

In [33]:
df =pd.DataFrame(data=data,
index=idx, columns=cols)
df.index.name='date'

In [34]:
print(df)

                   A         B         C         D
date
2018-06-04  0.403448 -0.969601  0.143007  0.839210
2018-06-05  0.714983  0.226052 -0.299865  0.333299
2018-06-06 -0.612076 -0.465036 -1.796228  0.405514
2018-06-07  1.093108 -0.281581 -1.758718 -0.394278

In [35]:
df.reset_index(inplace=True)

In [36]:
melted=pd.melt(df,id_vars='date',
var_name='feature',
value_name='reading')

In [37]:
print(melted)

         date feature   reading
0  2018-06-04       A  0.403448
1  2018-06-05       A  0.714983
2  2018-06-06       A -0.612076
3  2018-06-07       A  1.093108
4  2018-06-04       B -0.969601
5  2018-06-05       B  0.226052
6  2018-06-06       B -0.465036
7  2018-06-07       B -0.281581
8  2018-06-04       C  0.143007
9  2018-06-05       C -0.299865
10 2018-06-06       C -1.796228
11 2018-06-07       C -1.758718
12 2018-06-04       D  0.839210
13 2018-06-05       D  0.333299
14 2018-06-06       D  0.405514
15 2018-06-07       D -0.394278

In [39]:
melted.set_index('date', inplace=True)
melted.sort_index(inplace=True)

In [40]:
print(melted)

           feature   reading
date
2018-06-04       A  0.403448
2018-06-04       B -0.969601
2018-06-04       C  0.143007
2018-06-04       D  0.839210
2018-06-05       A  0.714983
2018-06-05       B  0.226052
2018-06-05       C -0.299865
2018-06-05       D  0.333299
2018-06-06       A -0.612076
2018-06-06       B -0.465036
2018-06-06       C -1.796228
2018-06-06       D  0.405514
2018-06-07       A  1.093108
2018-06-07       B -0.281581
2018-06-07       C -1.758718
2018-06-07       D -0.394278